:root{
	--body-background-color: FBF8E8;
	--font-color: #4e4e4e;
	--border-ivory-color : #FBF8E8;
	--wadda-white-color: #FFFFFF;
	--wadda-white-border-color: #E5E5E5;
	--wadda-green-color: #6F8D74;
}


*{
	margin:0;
	padding:0;
    word-break: keep-all;
	
}
ul{list-style:none;}

/* 스크롤바 설정*/
::-webkit-scrollbar{
    width: 6px;
	height: 6px;
}
/* 스크롤바 막대 설정*/
::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #6F8D74;
    border-radius: 10px;  
}
/* 스크롤바 뒷 배경 설정*/
::-webkit-scrollbar-track{
    background-color: #ffffff;
	opacity: 0.0;
}

body{
	background:var(--body-background-color);
}

.main-container{
	list-style:none;
	width:100%;
	max-width: 700px;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 21px;
	margin: 0 auto;
}
.main-container .main-wrap{
	width:768px;
}

.header-container{
	width: 100%;
	height: 100px;
	align-items: center;
}
.main-container .main-wrap .sel-lang-wrap .lang-select
{
	width: 96px;
	height: 30px;
	color: var(--font-color);
	border: solid 1px var(--border-ivory-color);
}
.main-container .main-wrap .logo-wrap{
	padding-top:55px;
}
.main-container .main-wrap .logo-warp{
	width: 200px;
	height: 40px;
}
.logo-warp img{
	margin:55px;
	width: 100px;
	height: 100px;
	align-items:center;
}
.main-container .main-wrap header .sel-lang-wrap{
	display:flex;
	justify-content:flex-end;
}

.main-container .main-wrap header .logo-wrap{
	display:flex;	
	flex-direction: column;
	align-items: center;
}

footer{
   
	padding-top: 95px;
	padding-bottom: 15px;

	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
    height: auto;

}
.copyright-wrap{

	display: flex;
	flex-direction: column;
	align-items: center;
	height: 15px;


}
footer .copyright-wrap span img{
	width: 59px;
	
	height: 11px;
}
footer .copyright-wrap span{
	font-size: 13px;
	line-height: 15px;
}


.login-input-section-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
input:focus{
	outline:#FBF8E8;
}

.login-input-wrap{
	width: 465px;
	height :48px;
	border-radius: 10px;
	border: solid 1px var(	--border-ivory-color );
	background: #FBF8E8;
	margin-top: 5px;
}
.input-box-wrap{
	margin-top: 13px;
	border: solid 1px var(	--border-ivory-color );
	background: #FBF8E8;
}
.login-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
	border: solid 1px var(	--border-ivory-color );
	background: #FBF8E8;
}
.login-button-wrap {
	padding-top: 13px;
}
.login-button-wrap input{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: var(--wadda-white-color);
	color: #4e4e4e;
	border: solid 1px var(--wadda-white-border-color);
}
.login-stay-sign-in{
	width: 465px;
	height: 52px;
	
	display: flex;
	font-size: 15px;
	color: #4e4e4e;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 1px var(--border-ivory-color);
}
.login-stay-sign-in i{
	font-size: 25px;
	color: #9ba1a3;
}
.login-stay-sign-in span{
	padding-left: 5px;
	line-height: 25px;
}
.Easy-sign-in-wrap{

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;

}
.Easy-sign-in-wrap h2{
	font-size: 20px;
}
.Easy-sign-in-wrap .sign-button-list
{
	padding-top:25px;
	list-style: none;
	width: 465px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Easy-sign-in-wrap .sign-button-list li{
	padding-bottom: 10px;
}
.Easy-sign-in-wrap .sign-button-list li button{
	width: 465px;
	height: 56px;
	border: solid 1px var(--border-ivory-color);
	text-align: left;
	background: #FBF8E8;
}
.Easy-sign-in-wrap .sign-button-list li button i{
	padding-left: 15px;
	font-size: 20px;
}
.fa-qrcode
{
	color:var(--wadda-white-color);
}
.fa-line{
	color:var(--wadda-white-color);
}
.fa-facebook-square
{
	color:#4064ac;
}
.Easy-sign-in-wrap .sign-button-list li button span{
	padding-left: 20px;
	font-size: 18px;
}
.Easy-sign-in-wrap .forget-msg{
	color:var(--font-color);
	font-size: 14px;
	padding-top: 10px;

}
.login-stay-sign-in a {
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    text-decoration: none;
    color: #8e8e8e;
}
.login-stay-sign-in .bar {
    margin: 0 3px;
}
.link_box {
    display: block;
    padding: 15px 0;
    margin-top: 11px;
	background: #6F8D74;
	border: solid 1px var(--border-ivory-color);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
.login-agree-box{
	
	width: 768px;
	height: 52px;
	
	display: flex;
	font-size: 15px;
	color: #ffffff;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 1px var(--border-ivory-color);
}
.input_chk {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.input_chk label {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 29px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    cursor: pointer;
    color: #333;
    box-sizing: border-box;
}
.terms_box {
    position: relative;
    overflow: auto;
    height: 100px;
    margin-top: 8px;
    padding: 12px;
    background: #FBF8E8;
    box-sizing: border-box;
    border-radius: 10px;  
    -webkit-overflow-scrolling: touch;
}
.sort-right{
	
	width: 768px;
	height: 52px;
	text-align:right;
}

.birth > input{
	background-color : #FBF8E8;
}

.gender >input{
	background-color: #FBF8E8;
}

.gender{
	margin-top : 10px;
	margin-left : -20px;
}

.gender > input{
	border-radius: 5px;
	width : 60px;
	height : 30px;
	border : none;

}
